{% extends 'base.html' %}
{% load static %}
{% block navbar %}
    <div class="row">
        <div class="col-6">
            <center>
                <h4 style="margin-top:10px">{{ custom_user.username }}</h4>
                <img src="{{ custom_user.image.url }}" width="250" height="250" style="margin-top:20px"/>
                <h3 style="margin-top:20px">Вес: {{ custom_user.user_weight }}</h3>
                <h3>Рост: {{ custom_user.user_height }}</h3>
                <h3>Возраст: {{ custom_user.age }}</h3>
                <h3>Пол: {{ gender }}</h3>
                <h3>Индекс массы тела: {{ custom_user.body_mass_index|floatformat:2 }}</h3>
                <h3>Калорий набрано: {{ custom_user.user_calories|floatformat:2 }}</h3>
            </center>
        </div>
        <div class="col-6">
            <h4 class="text-center" style="margin-top:10px">Статистика {{ period|lower }}</h4>
            <div class="dropdown-divider"></div>
            <table class="table table-borderless" style="width: 600px ">
                <thead class="t">
                <tr>
                    <th>Продукт</th>
                    <th>Вес</th>
                    <th>Калорийность</th>
                    <th>Дата</th>
                </tr>
                </thead>
                {% for product in products %}
                    <tbody>
                    <tr>
                        <td>{{ product.prod_id }}</td>
                        <td>{{ product.weight }}</td>
                        <td>{{ product.us_pr_calories|floatformat:1 }}</td>
                        <td>{{ product.created_at }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <h4 class="text-center">Всего калорий набрано за это время: {{ summary|floatformat:2 }}</h4>
            <h4 class="text-center" style="margin-top:20px">Все награды</h4>
            <div class="dropdown-divider"></div>
            <table class="table table-borderless" style="width: 600px">
                <thead class="t">
                <tr>
                    <th>Наименование</th>
                    <th>Дата получения</th>
                </tr>
                </thead>
                {% for reward in rewards %}
                    <tbody>
                    <tr>
                        <td>{{ reward.reward_id.get_title_display }}</td>
                        <td>{{ reward.created_at }}</td>
                        <td>{{ reward.title }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}