{% extends 'base.html' %}
{% load bootstrap4 %}
{% block navbar %}
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <table class="text-center">
            {% bootstrap_form form %}
            <tr>
                <td>
                    <button type="submit" class="btn btn-light">Сохранить</button>
                    <a href="{% url 'password_change' %}">
                        <button type="button" class="btn btn-primary">Сменить пароль</button>
                    </a>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}