{% extends 'base.html' %}

{% block navbar %}
    <div class="row" style="margin-top:15px">
        <div class="col-3">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Выбрать период
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'statistics' pk=2 %}">День</a>
                    <a class="dropdown-item" href="{% url 'statistics' pk=3 %}">Неделя</a>
                    <a class="dropdown-item" href="{% url 'statistics' pk=4 %}">Месяц</a>
                </div>
            </div>
        </div>
        <div class="col-9">
            <h4 style="margin-left:150px">{{ period }}</h4>
            <div class="dropdown-divider" style="width: 600px"></div>
            <table class="table table-borderless" style="width: 700px">
                <thead class="t">
                <tr>
                    <th>Продукт</th>
                    <th>Вес</th>
                    <th>Калорийность</th>
                    <th>Дата</th>
                </tr>
                </thead>
                {% for product in products %}
                    <tbody>
                    <tr>
                        <td>{{ product.prod_id }}</td>
                        <td>{{ product.weight }}</td>
                        <td>{{ product.us_pr_calories|floatformat:1 }}</td>
                        <td>{{ product.created_at }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <h4>Всего калорий набрано за выбранный период: {{ summary|floatformat:2 }}</h4>
        </div>
    </div>
{% endblock %}
