{% extends 'base.html' %}
{% load bootstrap4 %}
{% block navbar %}
    <div class="container" style="margin-top:15px">
        <h4 class="text-center">Вход в аккаунт</h4>
        <form method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Вход</button>
                <a href="#">
                    <button type="button" class="btn btn-primary">Войти с помощью Facebook</button>
                </a></h6>
                <a href="#">
                    <button type="button" class="btn btn-primary">Войти с помощью Google</button>
                </a></h6>
            {% endbuttons %}
        </form>
    </div>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <style type="text/css">
            body {
                margin: 0; /* Убираем отступы на странице */
            }

            #content {
                width: 500px; /* Ширина слоя */
                margin: 0 auto 50px; /* Выравнивание по центру */
            }

            #footer {
                position: fixed; /* Фиксированное положение */
                left: 0;
                bottom: 0; /* Левый нижний угол */
                color: #fff; /* Цвет текста */
                width: 100%; /* Ширина слоя */
            }

            #footer div {
                padding: 5px; /* Поля вокруг текста */
                background: #00b54a; /* Цвет фона */
            }
        </style>
        <!--[if lte IE 6]>
        <style type="text/css">
            html, body, #container {
                height: 100%; /* Высота страницы */
                overflow: hidden; /* Обрезаем все, что не помещается в окно */
            }

            #container {
                overflow: auto; /* Добавляем полосы прокрутки */
            }

            #footer {
                position: absolute; /* Абсолютное позиционирование */
            }

            #footer div {
                margin-right: 17px; /* Смещаем фон, чтобы не накладывался на скролбар */
            }
        </style>
        <![endif]-->
    </head>
    </div>
    </div>
    <div id="footer">
        <div>
            <h6 class="text-center">Нет аккаунта? Не беда, зарегестрироваться можно
                <a href="{% url 'django_registration_register' %}">тут</a></h6>
        </div>
    </div>
    </div>
    </body>
{% endblock %}
