{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block navbar %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title"> Изменить пароль</h4>

            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}

                <button type="submit" class="btn btn-success">Сохранить</button>
            </form>
        </div>
    </div>
{% endblock %}
