{% extends 'base.html' %}
{% block navbar %}
    <center>
        <h3>Пароль успешно изменен</h3>
        <a href="/">
            <button type="submit" class="btn btn-light">Перейти на главную</button>
        </a>
    </center>
{% endblock %}
