{% extends 'base.html' %}

{% block navbar %}
    <h4 class="text-center" style="margin-top:15px">Выберите категорию необходимого продукта из списка ниже:</h4>
    {#    {% for category in categories %}#}
    {#            <a class="nav-link" href="{% url 'category' category.id %}">{{ category }}</a>#}
    {#    {% endfor %}#}
    <div class="row">
        {% for category in categories %}
            <div class="card" style="width: 18rem;">
                <img src="{{ category.image.url }}" class="card-img-top" width="150" height="150" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ category }}</h5>
                    <a href="{% url 'category' category.id %}" class="btn btn-primary">Выбрать</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <style type="text/css">
            body {
                margin: 0; /* Убираем отступы на странице */
            }

            #content {
                width: 500px; /* Ширина слоя */
                margin: 0 auto 50px; /* Выравнивание по центру */
            }

            #footer {
                position: fixed; /* Фиксированное положение */
                left: 0;
                bottom: 0; /* Левый нижний угол */
                color: #fff; /* Цвет текста */
                width: 100%; /* Ширина слоя */
            }

            #footer div {
                padding: 5px; /* Поля вокруг текста */
                background: #00b54a; /* Цвет фона */
            }
        </style>
        <!--[if lte IE 6]>
        <style type="text/css">
            html, body, #container {
                height: 100%; /* Высота страницы */
                overflow: hidden; /* Обрезаем все, что не помещается в окно */
            }

            #container {
                overflow: auto; /* Добавляем полосы прокрутки */
            }

            #footer {
                position: absolute; /* Абсолютное позиционирование */
            }

            #footer div {
                margin-right: 17px; /* Смещаем фон, чтобы не накладывался на скролбар */
            }
        </style>
        <![endif]-->
    </head>
    </div>
    </div>
    <div id="footer">
        <div>
            <h6 class="text-center">Если вы не нашли желаемый продукт можете
                <a href="{% url 'product_offer' %}">предложить</a> администратору добавить его</h6>
        </div>
    </div>
    </div>
    </body>
{% endblock %}