{% extends 'base.html' %}
{% load bootstrap4 %}
{% block navbar %}
    <form method="post" enctype="multipart/form-data" style="margin-top:15px">{% csrf_token %}
        <table class="text-center">
            {% bootstrap_form form %}
            <tr>
                <td>
                    <button type="submit" class="btn btn-light">Сохранить</button>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}