{% extends 'base.html' %}

{% block navbar %}
    <h4 class="text-center" style="margin-top:15px">{{ product }}</h4>
    <div class="row">
        <div class="col-6">
            <img src="{{ product.image.url }}" width="250" height="260"/>
        </div>
        <div class="col-6">
            <center>
                <table class="table" style="width: 120px">
                    <thead class="table-success">
                    <tr>
                        <th>Калорий</th>
                        <th>Белки</th>
                        <th>Жиры</th>
                        <th>Углеводы</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ product.calories }}</td>
                        <td>{{ product.proteins }}</td>
                        <td>{{ product.fats }}</td>
                        <td>{{ product.carbohydrates }}</td>
                    </tr>
                    </tbody>
                </table>
            </center>
            <h4 class="text-center" style="margin-top:20px">Введите пожалуйста количество в граммах:</h4>
            <div class="container">
                <form method="post">{% csrf_token %}
                    <div class="form-group">
                        <input type="number" placeholder="100" class="form-control" id="weight" name="weight">
                    </div>
                    <button type="submit" class="btn btn-light">Добавить</button>
                </form>
            </div>
            </form>
        </div>
    </div>
{% endblock %}
