{% extends 'base.html' %}

{% block navbar %}
    <style>
    </style>
    <div class="row">
        <div class="col-4">
            <h4 class="text-center" style="margin-top:20px">Награды🏅</h4>
            <table class="table table-borderless" style="margin-top: 35px">
                <tr class="table-success">
                    <th>Наилегчайший недели:</th>
                    <td class="text-center">🏅 {{ thin_for_the_week }}</td>
                </tr>
                <tr class="table-success">
                    <th>Наилегчайший месяца:</th>
                    <td class="text-center">🏅 {{ thin_for_the_month }}</td>
                </tr>
                <tr class="table-success">
                    <th>Наилегчайший года:</th>
                    <td class="text-center">🏅 {{ thin_for_the_year }}</td>
                </tr>
                <tr class="table-danger">
                    <th>Тяжеловес недели:</th>
                    <td class="text-center">🏅 {{ fat_for_the_week }}</td>
                </tr>
                <tr class="table-danger">
                    <th>Тяжеловес месяца:</th>
                    <td class="text-center">🏅 {{ fat_for_the_month }}</td>
                </tr>
                <tr class="table-danger">
                    <th>Тяжеловес года:</th>
                    <td class="text-center">🏅 {{ fat_for_the_year }}</td>
                </tr>
            </table>
        </div>
        <div class="col-4">
            <table class="table table-borderless" style="margin-top: 10px">
                <thead class="t">
                <tr>
                    <th><h4 class="text-center">Топ 10 пользователей набравших больше всех калорий</h4></th>
                </tr>
                </thead>
                {% for fat in fats %}
                    <tbody>
                    <tr>
                    <td>{{ forloop.counter }}.<a href="{% url 'user_profile'  fat.id %}"><img src="{{ fat.image.url }}"
                                                                                              width="20"
                                                                                              height="20"> {{ fat.username }}
                        - {{ fat.user_calories|floatformat:1 }}</a></td>
                {% endfor %}
                </tr>

                </tbody>
            </table>
        </div>
        <div class="col-4">
            <table class="table table-borderless" style="margin-top: 10px">
                <thead class="t">
                <tr>
                    <th><h4 class="text-center">Топ 10 пользователей набравших меньше всех калорий</h4></th>
                </tr>
                </thead>
                {% for thin in thins %}
                    <tbody>
                    <tr>
                    <td>{{ forloop.counter }}.<a href="{% url 'user_profile'  thin.id %}"><img
                            src="{{ thin.image.url }}" width="20" height="20"> {{ thin.username }}
                        - {{ thin.user_calories|floatformat:1 }}</a></td>
                {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}