{% extends 'base.html' %}
{% load bootstrap4 %}
{% block navbar %}
    <div class="container" style="margin-top:15px">
        <h4 class="text-center">Регистрация</h4>
        <form method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Зарегестрироваться</button>
                <a href="#">
                    <button type="button" class="btn btn-primary">Зарегестрироваться с помощью Facebook</button>
                </a></h6>
                <a href="#">
                    <button type="button" class="btn btn-primary">Зарегестрироваться с помощью Google</button>
                </a></h6>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}

